body {
	background-color: #000;
	background-image: url(sample-background.png);
	background-position: top left;
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 1024px;
}

#photolist {
	background-color: #000;
	left: 200px;
	top: 0;
	
	text-align: center;
	width: 800px;
	height: 748px;
	position: absolute;
	-webkit-overflow-scrolling: touch;
    overflow: scroll;
}

/* (800-(240*3)) / 8 */
#photolist img {
	max-width: 240px;
	margin: 10px
}

#uploadframe {
	position: fixed;
	top: 1px;
	left: 1px;
	visibility: hidden;
}

#sharephoto {
	background-color: #000;
	height: 748px;
	left: 200px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 800px;
	z-index: 100;
}

#bigphoto {
	max-height: 600px;
	max-width: 740px;
	margin-top: 74px;
}

.hidden {
	display: none;
}

#close {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(close.png);
	position: absolute;
	top: 0;
	width: 100%;
	height: 74px;
}

#sharefacebook, #sharetwitter {
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	height: 74px;
	width: 150px;
}
#sharefacebook {
	background-image: url(facebook.png);
	left: 25%;
}
#sharetwitter {
	background-image: url(twitter.png);
	right: 25%;
}